body {
    font-family: sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    margin-top: 80px;
    margin-left: 50%;
    padding-right: 100px;
    gap: 100px;
    display: flex;
    background: transparent;
    text-decoration: none;
    color: gray;


}

#contact {
    background-color: #726164;
    width: 7vw;
    height: 5vh;
    border-radius: 20px;
    border-style: none;
    margin-top: -10px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;


}

.about-me {
    display: flex;
    position: absolute;
    gap: 5%;
    left: 20%;
    top: 25%;
}

.know-me {
    width: 30vw;
    margin-top: 90px;
    line-height: 40px;
    color: rgb(55, 5, 5);

    h1 {
        font-size: 60px;
        color: #893c46;
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        font-size: 20px;
    }
}

.nelson-quote {
    color: rgb(55, 5, 5);
    position: absolute;
    top: 100%;
    width: 50%;
    text-align: center;
    font-size: 20px;
    left: 20%;
    line-height: 35px;

}

.book-content {
    display: flex;
}

.book-speech {
    position: absolute;
    top: 130%;
    margin-left: 14%;

}

.about-book {
    width: 30vw;
    margin-top: 67%;
    line-height: 40px;
    color: rgb(55, 5, 5);
    margin-left: 50%;

    h1 {
        font-size: 60px;
        color: #893c46;
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        font-size: 20px;
    }
}

#adu-image {
    width: 25vw;
    height: 60vh;
}

.contact {
    color: black;
    position: absolute;
    top: 195%;
    background-color: rgb(4, 33, 46);
    width: 96%;
    /* height: 0.5vh; */
    padding: 30px 30px 30px 30px;
    text-align: center;

    h2 {

        color: white;
        font-size: 30px;
    }

    i {
        gap: 30px;
        margin-left: 35px;
        color: white;
    }
}

.contact i:hover {
    transform: scale(1.2);
}



@media screen and (max-width: 750px) {
    body {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        overflow-y: hidden;
    }

    #adu-image {
        width: 50vw;
        height: 30vh;
    }

    .navbar {
        gap: 15px;
        margin: 20px 0 0 0;
        align-items: flex-start;
        font-size: 12px;
    }
#contact{
    font-size: 13px;
}
    .about-me {
        display: block;
        margin-bottom: 5em;
        margin-top: -100px;
    }

    .know-me {
        width: 30vw;
        font-size: 16px;

        h1 {
            line-height: 100%;
            font-size: 26px;
            text-align: center;
        }

        p {
            width: 35vh;
            font-size: 15px;
            margin-left: -5em;
            text-align: center;
        }
    }

    .nelson-quote p {
        margin-top: -3em;
        font-size: 15px;
    }

    #nelson {
        margin-top: 1em;
    }

    .book-speech img {
        width: 55vw;
    }

    .about-book {
        margin-left: 0;
        margin-top: 350vw;
        width: 100vh;

        /* width: 50px; */
        h1 {
            font-size: 20px;
        }

        p {
            width: 40%;
            font-size: 15px;
            line-height: 25px;
        }

        .contact {
            margin-top: 30vw;
           
        }
    }


    #apartheid-image,
    #women-freredom,
    .illegally-alive {
        width: 100%;
        height: auto;
    }

    .illegally-alive h1 {
        font-size: 32px;
    }

    #topic-phrase {
        margin-left: 20px;
    }

    .renaming-book,
    .abel-story {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .review {
        width: 100%;
        margin-left: 0;
        padding: 15px;
        font-size: 16px;
    }

    .subscribe {
        width: 90%;
        margin-left: 0;
        padding: 5%;
    }

    .subscribe h1 {
        font-size: 28px;
    }

    #email,
    .button {
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .contact {
        width: 75%;
        margin-top: 55px;
        margin-left: -15px;
    }
}


@media screen and (min-width: 751px) and (max-width: 999px) {
    body {
        width: 95%;
    }
    #adu-image{
        height: 80%;
        margin-top: 80px;
    }
    .about-me {
        margin-left: -15%;
        gap: 230px;
margin-top: -100px;
h1{
    font-size: 40px;
}
    }

    .know-me p {
        width: 190%;
    }

    .journey {
        width: 200%;
    }

    .about-book {
        margin-top: 140%;
        width: 70%;
        margin-left: 160px;

        h1{
            font-size: 40px;
        }
    }
.nelson-quote{
    margin-top: -50%;
}
    .navbar {
        gap: 40px;
        margin-left: 14%;
        flex-wrap: wrap;
        font-size: 14px;
    }
.book-speech{
    margin-top: 140px;
   
}
.book-speech img{
    margin-top: 40px;
   height: 70%;
   width: 70%;
}

    #apartheid-image,
    #women-freredom,
    .illegally-alive {
        width: 80vw;
        height: auto;
    }

    .illegally-alive h1 {
        font-size: 48px;
    }
  

    .renaming-book,
    .abel-story {
        flex-direction: column;
        gap: 30px;
    }

    .review {
        width: 95%;
        margin-left: 2.5%;
        font-size: 18px;
    }

    .subscribe {
        width: 70%;
        margin-left: 5%;
        padding: 4%;
    }

    .subscribe h1 {
        font-size: 30px;
    }

    #email,
    .button {
        width: 70%;
        font-size: 15px;
    }

    #contact {
        width: 40px;
    }
}



@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .navbar {
        margin-top: 60px;
        margin-left: 10%;
        padding-right: 50px;
        gap: 80px;
        padding: 30px;
    }

    #contact {
        font-size: 20px;
        padding: 15px 25px;
    }

    a {
        font-size: 20px;
    }

    .about-me {
        padding: 60px;
        gap: 60px;
        margin-top: 80px;
        left: 10%;
    }

    .know-me {
        width: 50%;
    }

    .know-me h1 {
        font-size: 50px;
    }

    .know-me p {
        font-size: 25px;
    }

    .nelson-quote {
        font-size: 25px;
        padding: 60px;
        margin-top: 120px;
        width: 50%;
        left: 15%;
        margin-top: -35%;
    }

    .book-content {
        padding: 60px;
        margin-top: 120px;
    }

    .book-speech {
        margin-left: 10%;
        width: 35%;
        margin-top: 30%;
    }

    .about-book {
        width: 60%;
        margin-left: 20%;
        margin-top: 130%;
    }

    .about-book h1 {
        font-size: 50px;
    }

    .about-book p {
        font-size: 25px;
    }

    #adu-image {
        width: 30vw;
        height: 30vh;
    }

    .contact {
        padding: 70px;
        margin-top: 150px;
    }

    .contact h2 {
        font-size: 32px;
    }

    .contact i {
        font-size: 28px;
        margin: 0 25px;
    }
}
