
body {
    font-family: sans-serif;
    background-image: url(images/book.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    overflow: auto; 
    margin: 0;
}

.navbar {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: gray;
    margin: 20px auto;
    width: 90%; 
    justify-content: center; 
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px; 
}

.click-to-read {
    font-size: 16px; 
    color: white;
    text-align: center; 
    margin-top: 30px;
    p{
        position: absolute;
        top: 24%;
        left: 43%;
    }
   

}

#cover-book {
    width: 60vw; 
    height: auto;
    display: block; 
    margin: 30px auto; 

}

.read-born-a-crime {
    text-align: center; 
    padding: 20px;
   

    h2 {
        font-size: 24px; 
        color: rgb(88, 17, 17);
        margin-bottom: 10px;
    }

    p {
        color: white;
        margin: 0 auto; 
        width: 80%; 
        font-size: 12px; 
    }
}

@media screen and (min-width: 751px) and (max-width: 999px) {
    .navbar {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        gap: 40px;
        width: 70%;
        padding: 15px;
    }

    a {
        font-size: 16px;
    }

    .click-to-read {
        font-size: 18px;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
        p{
            margin-left: 47%;
            margin-top: 7%;
        }
    }

    #cover-book {
        margin-top: 140%;
        margin-left: -70px;
        width: 50vw;
        height: auto;
    }

    .read-born-a-crime {
        position: absolute;
        left: 30%;
        top: 30%;
        transform: translateY(-50%);
        text-align: left;

        h2 {
            font-size: 32px;
        }

        p {
            font-size: 14px;
            margin-left: 10%;
            width: 70%;
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .navbar {
        margin-top: 80px;
        margin-left: 50%;
        transform: translateX(-50%);
        gap: 60px;
        width: 60%;
        padding: 20px;
    }

    a {
        font-size: 18px;
    }

    .click-to-read {
        font-size: 20px;
        left: 40%;
        top: 10%;
    }

    #cover-book {
        margin-top: 15%;
        margin-left: 10px;
        width: 20vw;
        height: auto;
    }

    .read-born-a-crime {
        position: absolute;
        left: 30%;
        top: 35%;
        transform: translateY(-50%);
        text-align: left;

        h2 {
            font-size: 36px;
        }

        p {
            font-size: 16px;
            margin-left: 10%;
            width: 70%;
        }
    }
}

@media screen and (min-width: 1301px) {
    body {
        overflow: hidden;
    }

    .navbar {
        margin-top: 80px;
        margin-left: 54%;
        gap: 100px;
        display: flex;
        width: 45%;
        border-radius: 20px;
        padding: 15px 0 10px 10px;
    }

    a {
        font-size: 20px;
    }

    .click-to-read {
        font-size: 20px;
        left: 43%;
        top: 20%;
    }

    #cover-book {
        margin-top: 25%;
        margin-left: -30px;
        width: 30vw;
        height: 63vh;
    }

    .read-born-a-crime {
        position: absolute;
        left: 35%;
        margin-top: -20px;
        text-align: left;

        h2 {
            font-size: 40px;
        }

        p {
            font-size: 16px;
            margin-left: 15%;
            width: 60%;
        }
    }
}